.icon-box {
    border-radius: 100%;
    height: 55px;
    width: 55px;
    background-color: rgba(93, 191, 19,0.1);
    border: 1px dashed var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
}
.category-box {
    background-color: var(--white);
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xs);
    border: 1px dashed var(--gray-500);
    padding-top: 28px;
    padding-bottom: 28px;
}
.category-box:hover {
    border-color: var(--color-primary);
}
.category-box:hover .categoty-name {
    color: var(--color-primary);
}