.product-item {
    border-bottom: 1px solid var(--white);
}
.product-item:hover {
    box-shadow: unset;
    /* border-bottom: 1px solid var(--gray-300); */
    background-color: var(--gray-50);
}
.cart-left {
    width: 100px;
}
.products-stack {
    height: calc(100vh - (45px + 62px));
    overflow-y: auto;
    
}
.cart-footer {
  padding: 6px 0px 0px;
  margin-bottom: 8px;
    width: 92%;
    border-top: 1px solid #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
}